{{!-- The following component displays Ember's default welcome message. --}}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      {{#link-to 'editor'}}Edit{{/link-to}}
    </div>
    <div class="col-md-4">
      {{#link-to 'index'}}Home{{/link-to}}
    </div>
    <div class="col-md-4">
      <h5>yet another link</h5>
    </div>
  </div>
  <h2>Bustle Clone Site</h2>

</div>

{{!-- Feel free to remove this! --}}
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      {{outlet}}
    </div>
  </div>
</div>
